--find-links https://download.pytorch.org/whl/nightly/cu121
torch==2.6.0.dev20241026+cu121
torchaudio==2.6.0.dev20241026+cu121
librosa>=0.10.1
numpy>=1.23.5
webrtcvad>=2.0.10
scipy>=1.14.1
typing_extensions>=4.12.0
